{% extends "base.html" %}
{% import "partials/macros.html" as m %}
{% import "partials/timeline.html" as tl %}

{% block title %}Travel{% endblock %}
{% block extra_head %}<link rel="stylesheet" href="{{ root }}styles/timelines.css">
{{ m.abstract_toggle_style() }}{% endblock %}

{% block sidebar %}{{ m.subpage_sidebar(root, "images/travel/golden_gate_bridge.jpg", "Travel", "Places I have been for conferences, workshops, and summer schools.", [
  {"href": "./", "icon": "fa-arrows-v", "label": "TIMELINE VIEW"},
  {"href": "./condensed.html", "icon": "fa-list", "label": "LIST VIEW"},
]) }}{% endblock %}

{% block content %}
  {{ tl.render(events, false) }}
{% endblock %}
