<!DOCTYPE html>
<html>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	
	<head>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<!--Taken from "https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_architect&stacked=h"-->
		
		<link rel="stylesheet" type="text/css" href="../static/styles/weblinks.css">
		<link rel="stylesheet" type="text/css" href="../static/styles/slideshows.css">
		<link rel="stylesheet" type="text/css" href="../static/styles/fixed_lists.css">
	</head>

	<body>
		<!--Top navigation bar-->
		<div class="w3-top">
			<div class="w3-bar w3-white w3-wide w3-padding w3-card">
				{% if is_home %}
					<a href="{{ url_for('index') }}" class="w3-bar-item w3-button"><b>Sean</b> Grate</a>
				{% else %}
					<a href="{{ url_for('index') }}" class="w3-bar-item w3-button"><b>Go back</b></a>
				{% endif %}
				
				<div class="w3-right w3-hide-small">
					{% for nav_button in nav_buttons %}
						<a href="#{{ nav_button }}" class="w3-bar-item w3-button">{{ nav_button }}</a>
					{% endfor %}
				</div>
			</div>
		</div>

		{% block body %}{% endblock %}
	</body>
</html>